.login{
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    background-color:#eee4e0;
    overflow:hidden;
    z-index:99;
}

.login-close{
    position:absolute;
    top:8%;
    right:5%;
}

.login-content{
    width:100%;
    margin-top:10%;
}

.login-content span{
    font-family: "Amatic SC", sans-serif;
    font-size:24px;
    font-weight:400;
}

.login-info{
    width:20%;
    font-family: "Raleway", sans-serif;
    font-size:15px;
    font-weight:400;
    color:#493C36;
}

.login-info p{
    width:100%;
}

.login-info input{
    width:100%;
    border:none;
    border-bottom:1px black solid;
    background-color:transparent;
    outline:none;
    padding:3px 0px;
    font-size:16px;
}

.login-info button{
    white-space:nowrap;
    font-size:12px;
    color:#4593f8;
    padding-top:3px;
}

.login-signin{
    background-color:#a5848d;
    text-align:center;
    border-radius:5px;
    width:20%;
}

.login-signin button{
    font-family: "Raleway", sans-serif;
    font-size:16px;
    font-weight:400;
    width:100%;
    padding:10px 0px;
    color:white;
}

.login-signin button:hover{
    color:#ede3df;
    transition:0.2s;
}

.login-create{
    color:#4593f8;
    font-size:14px;
    font-family: "Raleway", sans-serif;
}